<!-- <div class="header">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <h2 class="navbar-brand">
            Movie Booking App
          </h2>
          
          <div class="input-group">
            <div class="form-outline">
             <input type="search" class="form-control" routerLink="/search" placeholder="Search Movie"/>
              </div>
              <button type="button" class="btn btn-primary" >
                <i class="fa fa-search"></i>
              </button>
            </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a *ngIf ="status" class="nav-link" routerLink="/" (click)="logout()">Logout</a>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </div> 

<div class="bg-blue py-4 footer">
    <div class="row "> <small class="fottext">Copyright &copy; 2023. All rights reserved.</small>
        <div class="social-contact ml-4 ml-sm-auto">
          <span class="fa fa-facebook mr-4 text-sm"></span>
          <span class="fa fa-google-plus mr-4 text-sm"></span>
          <span class="fa fa-linkedin mr-4 text-sm"></span> 
          <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> 
      </div>
    </div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand Hea" href="#">Movie Booking</a>
        
        <div  class="collapse navbar-collapse" id="navbarResponsive">
           
          <a class="navbar-brand home" routerLink="/movieslist">Home</a>
          <!-- <a class="navbar-brand home" routerLink="/AdminUser">Admin</a>
          <a class="navbar-brand home" routerLink="/AdminUser">User</a> -->
          
        <a class="navbar-brand home" routerLink="/Home">About</a>
            
        </div>
        <form class="d-flex" >
          
          <div class="input-group">
            <input type="search" class="form-control" routerLink="/search" placeholder="Search Movie"/>
             <button type="button" class="btn btn-primary" ><i class="fa fa-search"></i></button>
            </div>
          <div class=mat-icon>
            <i id=icon class="fa fa-shopping-cart" aria-hidden="true" ></i>
             </div>
             <div class=mat-heart>
             <i id=icon2 class="fa fa-heart" aria-hidden="true"></i>
            </div>
        </form>
        
        
        <button *ngIf="isLoggedIn"  class="btn-floating btn-outline-success">
          <a class="nav-link" routerLinkActive="active" routerLink="" >Logout</a>
       </button>
       
       <a id="icon1" class="fa fa-user" aria-hidden="true" routerLink="/UpdateProfile"></a>
    </div>
    
  
  </nav>
  
  