
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand Hea" href="#">Movie Booking</a>
        
        <div  class="collapse navbar-collapse" id="navbarResponsive">
           
          <a class="navbar-brand home" routerLink="/movieslist">Home</a>
          
          
        <a class="navbar-brand home" routerLink="/Home">About</a>
            
        </div>
        <form class="d-flex" >
          
          <div class="input-group">
            <input type="search" class="form-control" (input)="search()"  placeholder="Search Movie"/>
             <button type="button" class="btn btn-primary" ><i class="fa fa-search"></i></button>
            </div>
          <div class=mat-icon>
            <i id=icon class="fa fa-shopping-cart" aria-hidden="true" ></i>
             </div>
             <div class=mat-heart>
             <i id=icon2 class="fa fa-heart" aria-hidden="true"></i>
            </div>
            <button id="btn1" *ngIf="isLoggedIn" class="btn btn-danger btn-block" routerLinkActive="active" routerLink="">
              Logout
              </button>
              <span class="name"> {{firstName}}{{lastName}}</span>
        </form>
        
      
        <!-- <button *ngIf="isLoggedIn"  class="btn-floating btn-outline-success">
          <a class="nav-link" routerLinkActive="active" routerLink="" >Logout</a>
       </button> -->
      
       <span class="name"><b>{{firstName}}{{lastName}}</b></span>
       <!-- <a id="icon1" class="fa fa-user" aria-hidden="true" routerLink="/UpdateProfile"></a> -->
    </div>
    
  
  </nav>
  
  