<app-header class="header"></app-header>
<div>
    <div class="row">
        <div class="left">
            <div class= "rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" ></i>
              </div> 
              <h1>{{movie.movieShow.MovieName}}</h1>
             
          
          <div class="feature-box "> 
              <div class="left-side" >
              <br><br><br>
              <p><b> Movie Name : </b>{{movie.movieShow.MovieName}}</p>
              <br>
              <p><b> Theater Name : </b>{{movie.movieShow.TheatreName}}</p>
              <br>
              <p><b> Available Tickets : </b>{{movie.TotalTicketsAllotted - movie.BookedTickets}}</p>
              <br>
              <p><b> Ticket Alloted : </b>{{movie.TotalTicketsAllotted}}</p>
              <br>
              <p><b> Booked Tickets : </b>{{movie.BookedTickets}}</p>
              <br> 
              <p><b> Languages : </b>English,Hindi</p>
            </div>
           
        </div>
        <div class="review">
<span class="heading">Customer Reviews</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star-half-o"></span>
<p>4.1 average based on 254 reviews.</p>
<hr style="border:3px solid #f1f1f1">

<div class="row2">
  <div class="sides">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side rights">
    <div>150</div>
  </div>
  <div class="sides">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side rights">
    <div>63</div>
  </div>
  <div class="sides">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side rights">
    <div>15</div>
  </div>
  <div class="sides">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side rights">
    <div>6</div>
  </div>
  <div class="sides">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side rights">
    <div>20</div>
  </div>
  </div>
</div>

    </div>
  <div class="right">
    <img  [src]="'assets/'+movie.movieShow.MovieName +'.jpg'" alt="card__image" class="card__image" width="500" height="440" padding-top="10px"/>
    <!-- <img id="img1" src="assets/lordofring.jfif"> -->
    <br>
    <button class="btn btn-primary" routerLink="/movieslist">Back</button>
</div>


</div>
  </div>