<div class="bg-container">
  
<div *ngIf="!status" class="col-md-12">
 
    <div class="card card-container  bdrop">
      <div class="img__wrapper" *ngIf="(movie.TotalTicketsAllotted - movie.BookedTickets) == 0">
        <img src="http://www.savoy-sharm.com/media-room/images/hi-res/king-bed-room-accommodation-savoy-luxury-5-stars-accommodation-sharm-el-sheikh.jpg" alt="" />
        <a class="sold_out" href="">Sold out</a>
        <img  [src]="'assets/'+movie.movieShow.MovieName +'.jpg'" alt="card__image" class="card__image"/>
        
        </div>
        <div class="img__wrapper" *ngIf="(movie.TotalTicketsAllotted - movie.BookedTickets) > 0 && (movie.TotalTicketsAllotted - movie.BookedTickets) <= 20">
          <img src="http://www.savoy-sharm.com/media-room/images/hi-res/king-bed-room-accommodation-savoy-luxury-5-stars-accommodation-sharm-el-sheikh.jpg" alt="" />
          <a class="sold_out" href="">Book Asap</a>
          <img  [src]="'assets/'+movie.movieShow.MovieName +'.jpg'" alt="card__image" class="card__image"/>
          </div>
          <div *ngIf="(movie.TotalTicketsAllotted - movie.BookedTickets) > 20">
          <img  [src]="'assets/'+movie.movieShow.MovieName +'.jpg'" alt="card__image" class="card__image"/>
        </div>
        
        <ul>
          <p><b>Movie Name : </b>{{movie.movieShow.MovieName}}</p>
          <p><b>Movie Theatre : </b>{{movie.movieShow.TheatreName}}</p>
          <p><b>Seats Available : </b>{{movie.TotalTicketsAllotted - movie.BookedTickets}}</p>
        </ul>
      <form name="form" #f="ngForm" *ngIf="(movie.TotalTicketsAllotted - movie.BookedTickets) > 0">
          
        <div class="form-group">
          <label for="numberOfTickets">No Of Tickets</label>
          <input
            type="text"
            class="form-control"
            name="numberOfTickets"
            [(ngModel)]="form.numberOfTickets"
            required
            #numberOfTickets="ngModel"
          />
          <div class="alert alert-danger" role="alert" *ngIf="form.numberOfTickets.errors && f.submitted">
          <div *ngIf="form.numberOfTickets.errors['required']">No Of Tickets is required!</div>
          
          </div>
        </div>
        <div class="form-group">
          <label for="seatNumber">Seat Number</label>
          <input
            type="text"
            class="form-control"
            name="seatNumber"
            [(ngModel)]="form.seatNumber"
            required
            #seatNumber="ngModel"
          />
        </div>
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="seatNumber.errors && f.submitted"
          >
          <div *ngIf="seatNumber.errors['required']">Please enter seat numbers.</div>
          
        </div>
        <br>
        <div class="form-group">
          <button class="btn btn-primary btn-block" (click)="booking()">
            Book
          </button>&nbsp;
          <!-- <ng-container *ngIf="popUpComponent" >
            <div class="popup-container">
              <div class="popup-message">
              <p>Booked sucessfully</p>
              <button class="alert" routerLink="/movieslist" (click)="closePopup()">Ok</button>
              </div>
            </div>
          </ng-container> -->
          <button class="btn btn-danger btn-block" (click)="cancel()">
            Cancel
          </button><br>
        </div>
        <div class="form-group">
          <!-- <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && status!=true"
          >
            Login failed: {{ errorMessage }}
          </div> -->
        </div>
      </form>
  
      <!-- <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div> -->
     
    </div>
  <!-- </div class="alert">
  <h2 *ngIf="status">{{message}}<a routerLink="/movieslist">Back to List. </a></h2>
 </div> -->
