         
              <app-header></app-header>
             <!-- <div class="img__wrapper">
              <img src="assets/dream-girl.jpg" alt="first slide" class="bg-image" />
              <a class="top">Upcoming Movie</a>
             </div> -->
    <div class="home">
     <img src="assets/dream-girl.jpg" alt="first slide" class="bg-image" />
     <span class="top">Upcoming Movie</span>
     </div>
                <div class="container">
                  <div class="card"  *ngFor= "let movie of filteredData |paginate:{
                    itemsPerPage: tableSize,
                    currentPage:page}; "> 
                    <div class="img__wrapper" *ngIf="((movie.TotalTicketsAllotted - movie.BookedTickets) == 0) || (movie.TotalTicketsAllotted - movie.BookedTickets) > 0 && (movie.TotalTicketsAllotted - movie.BookedTickets) <= 20">
                      <img src="http://www.savoy-sharm.com/media-room/images/hi-res/king-bed-room-accommodation-savoy-luxury-5-stars-accommodation-sharm-el-sheikh.jpg" alt="" />
                      <a class="sold_out" *ngIf="((movie.TotalTicketsAllotted - movie.BookedTickets) == 0)" href="">Sold out</a>
                      <a class="sold_out" *ngIf="(movie.TotalTicketsAllotted - movie.BookedTickets) > 0 && (movie.TotalTicketsAllotted - movie.BookedTickets) <= 20" href="">Book ASAP</a>
                      
                      </div>
                     <div class="card__header" > 
                           
                      
                      <img  [src]="'assets/'+movie.movieShow.MovieName +'.jpg'" alt="card__image" class="card__image" width="500" height="440" padding-top="10px"/>
                    </div>
                    <div class="card__body">
                      <span class="tag tag-blue">Movie</span>
                      <h4 >{{ movie.movieShow.MovieName }}</h4>
                      <p>Theatre Name
                        {{ movie.movieShow.TheatreName}}
                        
                      </p>
                      <p> Tickets Available
                        {{movie.TotalTicketsAllotted - movie.BookedTickets}}
                      </p>
                      
            
                    </div>
                    <div class="card__footer">
                      <button class="btn btn-primary" (click)="bookTicket(movie)">Book</button>&nbsp;
                      <!-- [disabled]="(movie.TotalTicketsAllotted - movie.BookedTickets) == 0" -->
              <button *ngIf="Role == 'Admin'" class="btn btn-danger" (click)="deleteMovie(movie.movieShow.MovieName,movie.movieShow.TheatreName)">Delete</button>&nbsp;
              <button *ngIf="Role == 'Admin'" class="btn btn-primary" (click)="movieDetails(movie)">Details</button>
                    </div>
                  </div>
                 
              </div>
              <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  (pageChange)="onTableDataChange($event)">
              </pagination-controls>  
 