@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
.container{

 display: flex;
}
.right-side{
    position: fixed;
   margin-top: 50px;
   border-style:dashed;
   margin-left: 75%;
   font-size: large;
   text-align: center;

}

/* .box{
    margin-bottom: 80%;
    border-style:dashed;
    margin-left: 70%;
    font-size: large;
    text-align: center;
    
    
} */
.left-side h1{  
   padding-top: 40px;
    width:450px;
    font-size: 40px;
    font-family:   'Bevan', sans-serif;
    }
    .left-side{
       
        padding-left: 3%;
        width:70%;
    }

    .left-side h2{ 
        color:rgb(97, 105, 105);
    }
    .divider{
      margin-top: 90px;
     
      border: solid 1px #000;
    }
    .lower-header{
        border-style:dashed;
        padding-left:500px;
        padding-top: 5px;
        width:30%;
        height:60%;
        border: #000;
        
        
    }
    ::-webkit-input-placeholder {
        color: rgb(6, 151, 115);
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    .bottom{
        display: flex;
    }
    .bottom-left{
     padding-left: 20px;
    }
    .bottom-right{
        
        margin-left: 85%;
        position: fixed;
    }
  .form-group{
    padding-left: 500px;
  }